@import url('https://fonts.googleapis.com/css?family=Silkscreen');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@400&display=swap');
/* Variables. Feel free to edit these! */
:root {
    --color-primary: #028090;
    --color-secondary: #00A896;

    --color-soft-white: #FFFFF0;

    --color-soft-black: #444;
    --color-hard-black: #222;

    --color-special-todo: #790604;

    /*--font-normal: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman";*/
    --font-normal: 'Fira Code', normal;
    --font-code: 'Share Tech Mono', code;
    --font-subheadings: 'Silkscreen', normal;
    --font-headings: 'Fira Code', normal;

    --font-size-1: 33.57px;
    --font-size-2: 26.86px;
    --font-size-3: 23.48px;
    --font-size-4: 19.19px;

    --font-size-small: 18px;
}

/* Selection color */
::selection {
    background-color: var(--color-primary);
    color: var(--color-soft-white);
}

/* Remove outer padding */
html, body{
    margin: 500x;
    padding: 500x;
    max-width: 1100px;

}

/* Heading styles */
h2, h3, h4, h5, h6{
    a{
        color: black;
        text-decoration: none;
    }
    float: right;
    width: 82%;
    margin-left: 1x;
    padding: 0x;
    margin-bottom: 0;
    color: inherit;
    text-decoration: none;
    font-family: var(--font-headings);
    max-width: 2300px;                 
}

/* Scaled font sizes */
h1{font-size: var(--font-size-1);}
h2{font-size: var(--font-size-2);}
h3{font-size: var(--font-size-3);}
h3{font-size: var(--font-size-4);}
h4{font-size: var(--font-size-4);}
h5{font-size: var(--font-size-4);}

h1 > .subtitle{
    font-size: 18.48px;
    font-family: var(--font-subheadings);
    color: OrangeRed;
                 
}

h1{
    color: black;
    margin: 10;
    padding: 10;
    color: inherit;
    text-decoration: none;
    font-family: var(--font-headings)
}

/* Normal text style(including code) */
p, pre, ol, ul, table, code{
    color: black;
    font-size: var(--font-size-4);
    font-family: var(--font-normal);
    margin-left: 1x;
    float: right;
    line-height: 1.3;
    width: 82%;
}
li {
    float: right;
    width: 97%; 
    margin-left: 10em;
}


/* Better anchor tags */
a{
    color: RoyalBlue;
    text-decoration: none;
}

a:hover{
    color: var(--color-secondary);
}

/* Force footer to bottom and center */
#postamble{
    text-align: center;
    width: 100%;
}

#postamble > p{
    display: inline;
}

.title{
   padding: 1vh 13vw;
}


/* Responsive images */
img{
    max-width: 100%;
    height: auto;
}

/* Responsive code blocks and tables 

pre, .outline-text-2, .outline-text-3, outline-text-4{
    max-width: 89%;
} */

/* Code */
pre{
    margin: 1rem;
    background-color: #d4ebf2;
    padding: 1rem;
    border-radius: 1.2rem;
    float: right;
    width: 79%;
    text-wrap: wrap;
    font-family: var(--font-code);
    font-size: var(--font-size-4) !important;
